.site-title,
.post-title,
.post-body,
.post-body h2,
.post-body h3,
.post-body h4,
.post-nav-item,
.post-tags,
.category-list-link,
.links-of-blogroll-item {
	font-family: 'Roboto Slab', Arial, "微软雅黑";
}

.post-title,
.post-nav-item {
	font-weight: 700;
	color: #333;
}

.post-body,
.collection-header {
	@media (min-width: 992px) {
		font-size: 14px;
	}
}

.posts-expand .post-meta {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 12px;
}

.post-copyright {
	border-left: 0;
	font-family: Arial, "微软雅黑";
	color: #999;
	// -webkit-font-smoothing: antialiased;
	
	@media (min-width: 992px) {
		font-size: 0.875em;
	}
}

.highlight figcaption {
	border-bottom: 1px solid #000;
}

.text-gray {
	color: #999;
}